/* Materialize btn and Pure-drawer toggle - use Lineage green*/
.btn, .btn-large,
.pure-toggle-label {
  background-color: #167c80;
  border-color: #fff;
  color: #fff;
}

/* Pure-drawer toggle - use Lineage green*/
.pure-toggle-label .pure-toggle-icon,
.pure-toggle-label .pure-toggle-icon:after,
.pure-toggle-label .pure-toggle-icon:before {
  background-color: #fff;
}

/* Materialize checkbox - use Lineage green*/
[type="checkbox"]:checked+label:before {
  border-right-color: #167c80;
  border-bottom-color: #167c80;
}

/* Additional styles */
.titlebar {
  color: #167c80;
  height: 75px;
}

.titlebar h3 {
  margin-bottom: 0;
}

.app-list {
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 10px;
}

.collection {
  border: none;
}
.collection .collection-item,
.collection a.collection-item {
  background-color: transparent;
}

.collection .collection-item:not(:hover),
.collection a.collection-item:not(:hover) {
  color: #fff;
}

.desc {
  background-color: #167c80;
  color: #fff;
  font-style: italic;
  font-weight: bold;
}

.switch > label {
  color: #fff;
  display: flex;
  font-size: inherit;
  justify-content: space-between;
}

.switch > label:hover {
  color: #26a69a;
}
